<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Job Portal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/css/details.css">
        <link rel="stylesheet" href="../public/css/fonts.css">
    </head>
    <body>
        <div class="topbar">
            <a href="" class="back"><img src="../public/images/back.svg" alt="back" /></a>
            <p class="logo">Jobs<span class="span1">Portal</span></p>
        </div>
        <div class="det">
            <p>Receptionist and Marketing Assistant</p>
            <p>Metier Dental Co-op</p>
            <p>Bengluru, Karnataka</p>
            <p>Full Job Description</p>
            <p>Company Name is a leading industry company dedicated to providing exceptional service and creating lasting impressions. We pride ourselves on our innovative approach and our commitment to excellence. We are currently seeking a friendly and professional Receptionist to join our dynamic team.Company Name is a leading industry company dedicated to providing exceptional service and creating lasting impressions. We pride ourselves on our innovative approach and our commitment to excellence. We are currently seeking a friendly and professional Receptionist to join our dynamic team.Company Name is a leading industry company dedicated to providing exceptional service and creating lasting impressions. We pride ourselves on our innovative approach and our commitment to excellence. We are currently seeking a friendly and professional Receptionist to join our dynamic team.</p>
        </div>
        <p class="temp">Skill Requirements</p>
        <div class="skills">
            <p>English</p><p>Stage Presentation</p><p>Communication Skills</p><p>German</p><p>Basic Data Management</p>
        </div>
        <p class="temp">Salary</p>
        <p class="tmp2">Rs 40k - 50k per month</p>

        <p class="temp">Mode</p>
        <p class="tmp2">Online</p>

        <a href="" class="apply">APPLY NOW</a>
        <a href="" class="apply" style="background-color: #3DC2EC; margin-top: 7px;">VISIT WEBSITE</a>
    </body>
</html>