<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Job Portal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/css/home.css">
        <link rel="stylesheet" href="../public/css/fonts.css">
    </head>
    <body>
        <div class="mob_topbar">
            <p class="logo">Jobs<span class="span1">Portal</span></p>
            <div class="ham" id="ham">
                <div></div><div></div><div></div>
            </div>
        </div>

        <div class="pc_topbar">
            <p class="logo">Jobs<span class="span1">Portal</span></p>
            <a href="">Categories</a>
            <a href="">Bookmarks</a>
            <a href="">Contacts</a>
            <a href="">Blog</a>
            <a href="">About</a>
            <a href="">Post a Job +</a>
            <a href="">Premium</a>
        </div>

        <div class="sidebar" id="sidebar">
            <a href="">Categories</a>
            <a href="">Bookmarks</a>
            <a href="">Contacts</a>
            <a href="">Blog</a>
            <a href="">About</a>
            <a href="">Post a Job +</a>
            <a href="">Premium</a>
        </div>

        <p class="heading">RECENT JOBS</p>

        <div class="applications">
            <div class="job">
                <p>Receptionist and Marketing Assistant <span><img src="../public/images/bookmark.svg" alt="bookmark" /></span></p>
                <p>Metier Dental Co-op</p>
                <p>Bengluru, Karnataka</p>
                <p>Company Name is a leading industry company dedicated to providing exceptional service and creating lasting impressions. We pride ourselves on our innovative approach and our commitment to excellence. We are currently seeking a friendly and professional Receptionist to join our dynamic team.</p>
                <a href="">View Job Details</a>
            </div>

            <div class="job">
                <p>Receptionist and Marketing Assistant <span><img src="../public/images/bookmark.svg" alt="bookmark" /></span></p>
                <p>Metier Dental Co-op</p>
                <p>Bengluru, Karnataka</p>
                <p>Company Name is a leading industry company dedicated to providing exceptional service and creating lasting impressions. We pride ourselves on our innovative approach and our commitment to excellence. We are currently seeking a friendly and professional Receptionist to join our dynamic team.</p>
                <a href="">View Job Details</a>
            </div>

            <div class="job">
                <p>Receptionist and Marketing Assistant <span><img src="../public/images/bookmark.svg" alt="bookmark" /></span></p>
                <p>Metier Dental Co-op</p>
                <p>Bengluru, Karnataka</p>
                <p>Company Name is a leading industry company dedicated to providing exceptional service and creating lasting impressions. We pride ourselves on our innovative approach and our commitment to excellence. We are currently seeking a friendly and professional Receptionist to join our dynamic team.</p>
                <a href="">View Job Details</a>
            </div>

            <div class="job">
                <p>Receptionist and Marketing Assistant <span><img src="../public/images/bookmark.svg" alt="bookmark" /></span></p>
                <p>Metier Dental Co-op</p>
                <p>Bengluru, Karnataka</p>
                <p>Company Name is a leading industry company dedicated to providing exceptional service and creating lasting impressions. We pride ourselves on our innovative approach and our commitment to excellence. We are currently seeking a friendly and professional Receptionist to join our dynamic team.</p>
                <a href="">View Job Details</a>
            </div>
        </div>

        <script src="../public/js/home.js"></script>
    </body>
</html>