<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Job Portal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/post.css">
        <link rel="stylesheet" href="../css/fonts.css">
    </head>
    <body>
        <div class="topbar">
            <a href="/" class="back"><img src="../images/back.svg" alt="back" /></a>
            <p class="logo">Jobs<span class="span1">Portal</span></p>
        </div>
        <p class="heading">Post a Job</p>

        <form autocomplete="off" action="/post" method="post">
            <p class="sub">JOB TITLE</p>
            <input type="text" placeholder="e.g Receptionist" name="jtitle" class="inp"/>

            <p class="sub">COMPANY NAME</p>
            <input type="text" placeholder="e.g Microsoft" name="companyname" class="inp" />

            <p class="sub">LOCATION</p>
            <input type="text" placeholder="e.g Bombay, India" name="location" class="inp" />

            <p class="sub">JOB DETAILS</p>
            <textarea placeholder="Details of the job" name="jdetails"></textarea>

            <p class="sub">SALARY</p>
            <input type="text" placeholder="e.g Rs 20k per month" name="salary" class="inp" />

            <p class="sub">SKILLS REQUIREMENT</p>
            <input type="text" placeholder="e.g Java C++ Python" name="skills" class="inp" />

            <p class="sub">MODE</p>
            <input type="text" placeholder="e.g Online" name="mode" class="inp" />

            <button type="submit">SUBMIT FORM</button>
        </form>
    </body>
</html>