<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Job Portal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/css/viewapp.css">
        <link rel="stylesheet" href="../public/css/fonts.css">
    </head>
    <body>
        <div class="topbar">
            <a href="/" class="back"><img src="../public/images/back.svg" alt="back" /></a>
            <p class="logo">Jobs<span class="span1">Portal</span></p>
        </div>

        <div class="wrap">
            <div class="app">
                <p>Application ID: <span>213131231312</span></p>
                <p>Full Name: <span>John Doe</span></p>
                <p>Mobile Number: <span>2831313131231</span></p>
                <p>Country: <span>America</span></p>
                <p>Education: <span>Masters in Science</span></p>
            </div>

            <div class="app">
                <p>Application ID: <span>213131231312</span></p>
                <p>Full Name: <span>John Doe</span></p>
                <p>Mobile Number: <span>2831313131231</span></p>
                <p>Country: <span>America</span></p>
                <p>Education: <span>Masters in Science</span></p>
            </div>

            <div class="app">
                <p>Application ID: <span>213131231312</span></p>
                <p>Full Name: <span>John Doe</span></p>
                <p>Mobile Number: <span>2831313131231</span></p>
                <p>Country: <span>America</span></p>
                <p>Education: <span>Masters in Science</span></p>
            </div>

            <div class="app">
                <p>Application ID: <span>213131231312</span></p>
                <p>Full Name: <span>John Doe</span></p>
                <p>Mobile Number: <span>2831313131231</span></p>
                <p>Country: <span>America</span></p>
                <p>Education: <span>Masters in Science</span></p>
            </div>

            <div class="app">
                <p>Application ID: <span>213131231312</span></p>
                <p>Full Name: <span>John Doe</span></p>
                <p>Mobile Number: <span>2831313131231</span></p>
                <p>Country: <span>America</span></p>
                <p>Education: <span>Masters in Science</span></p>
            </div>
        </div>
    </body>
</html>